<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
    <link rel="stylesheet"  type = "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form action="{{url_for('page.test2') }}" method="POST", enctype = "multipart/form-data"> 
        <div class="ques" id="q1">
            <p class="para">I get stressed out easily</p>
            <label class="radio-inline">
                <input type="radio" name="optradio11" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio11" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio11" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio11" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio11" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio11" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques" id="q2">
            <p class="para">I am relaxed most of the time</p>
            <label class="radio-inline">
                <input type="radio" name="optradio12" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio12" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio12" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio12" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio12" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio12" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q3">
            <p class="para">I worry about things</p>
            <label class="radio-inline">
                <input type="radio" name="optradio13" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio13" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio13" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio13" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio13" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio13" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q4">
            <p class="para">I seldom feel blue</p>
            <label class="radio-inline">
                <input type="radio" name="optradio14" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio14" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio14" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio14" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio14" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio14" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q5">
            <p class="para">I am easily disturbed</p>
            <label class="radio-inline">
                <input type="radio" name="optradio15" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio15" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio15" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio15" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio15" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio15" value="5"><span>5</span>
            </label>
        </div>

        <div class="ques-right" id="q6">
            <p class="para">I get upset easily</p>
            <label class="radio-inline">
                <input type="radio" name="optradio16" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio16" value="1"><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio16" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio16" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio16" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio16" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q7">
            <p class="para">I change my mood a lot</p>
            <label class="radio-inline">
                <input type="radio" name="optradio17" value="0" value="radioval"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio17" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio17" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio17" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio17" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio17" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q8">
            <p class="para">I have frequent mood swings</p>
            <label class="radio-inline">
                <input type="radio" name="optradio18" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio18" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio18" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio18" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio18" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio18" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q9">
            <p class="para">I get irritated easily</p>
            <label class="radio-inline">
                <input type="radio" name="optradio19" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio19" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio19" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio19" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio19" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio19" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q10">
            <p class="para">I often feel blue</p>
            <label class="radio-inline">
                <input type="radio" name="optradio20" value="0"><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio20" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio20" value="2"><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio20" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio20" value="4"><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio20" value="5"><span>5</span>
            </label>

        </div>
   
            <div class="page1-button1">
            
                <input type="submit" value="NEXT>>">
            </div>
        </form>    
            

            <div class="page1-button2">
                <a href="{{ url_for('page.test1') }}">
                    <input type="submit" value="<<PREV">
                </a>       
            </div>
    
</div>


</body>

</html>