<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form action="{{url_for('page.test3') }}" method="POST", enctype = "multipart/form-data"> 
        <div class="ques" id="q1">
            <p class="para">I feel little concern for others</p>
            <label class="radio-inline">
                <input type="radio" name="optradio21" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio21" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio21" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio21" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio21" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio21" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques" id="q2">
            <p class="para">I am interested in people</p>
            <label class="radio-inline">
                <input type="radio" name="optradio22" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio22" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio22" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio22" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio22" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio22" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q3">
            <p class="para">I insult people</p>
            <label class="radio-inline">
                <input type="radio" name="optradio23" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio23" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio23" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio23" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio23" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio23" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q4">
            <p class="para">I sympathize with others feelings</p>
            <label class="radio-inline">
                <input type="radio" name="optradio24" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio24" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio24" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio24" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio24" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio24" value="5"><span>5</span>
            </label>
        </div>
        <div class="ques" id="q5">
            <p class="para">I am not interested in other peoples problems</p>
            <label class="radio-inline">
                <input type="radio" name="optradio25" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio25" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio25" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio25" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio25" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio25" value="5"><span>5</span>
            </label>
        </div>

        <div class="ques-right" id="q6">
            <p class="para">I have a soft heart</p>
            <label class="radio-inline">
                <input type="radio" name="optradio26" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio26" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio26" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio26" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio26" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio26" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q7">
            <p class="para">I am not really interested in others</p>
            <label class="radio-inline">
                <input type="radio" name="optradio27" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio27" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio27" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio27" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio27" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio27" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q8">
            <p class="para">I take time out for others</p>
            <label class="radio-inline">
                <input type="radio" name="optradio28" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio28" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio28" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio28" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio28" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio28" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q9">
            <p class="para">I feel others emotions</p>
            <label class="radio-inline">
                <input type="radio" name="optradio29" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio29" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio29" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio29" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio29" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio29" value="5"><span>5</span>
            </label>

        </div>
        <div class="ques-right" id="q10">
            <p class="para">I make people feel at ease</p>
            <label class="radio-inline">
                <input type="radio" name="optradio30" value="0" ><span>0</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio30" value="1" ><span>1</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio30" value="2" ><span>2</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio30" value="3"><span>3</span>
            </label>

            <label class="radio-inline">
                <input type="radio" name="optradio30" value="4" ><span>4</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio30" value="5"><span>5</span>
            </label>

        </div>
        
        
            <div class="page1-button1">
                
                    <input type="submit" value="NEXT>>">
                
            </div>
        </form>       
        
            <div class="page1-button2">
            <a href="{{ url_for('page.test2') }}">
                <input type="submit" value="<<PREV">
            </a>
            </div>
        
</div>


</body>

</html>